@model DColor.DB.Rol

@{
    ViewBag.Title = "Detalles";
}

<h2>Detalles</h2>

<div>

    @*@Html.Action("_IndexPermisosPorRol", "Roles", new { rolId = Model.idRol });*@

    <h4>Rol</h4>
    @Html.DisplayFor(model => model.idRol)
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nombre)
        </dd>

    </dl>



</div>


<p>
    @Html.ActionLink("Modificar", "Edit", new { id = Model.idRol }) |
    @Html.ActionLink("Volver a la lista", "Index")
</p>
