@model IEnumerable<DColor.DB.Empleado>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.apellido)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.correo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.cedula)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.contraseña)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.tokenRecovery)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.telefono)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.intentos)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ultimoIntento)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Estado_Empleado.estadoEmpleado)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Rol.nombre)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.apellido)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.correo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.cedula)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.contraseña)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.tokenRecovery)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.telefono)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.intentos)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ultimoIntento)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Estado_Empleado.estadoEmpleado)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Rol.nombre)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.idEmpleado }) |
            @Html.ActionLink("Details", "Details", new { id=item.idEmpleado }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.idEmpleado })
        </td>
    </tr>
}

</table>
