@model DColor.Entities.RecuperarPassword
@{
    Layout = null;
}
<!DOCTYPE html>

<html>
<head>

    <meta name="viewport" content="width=device-width" />
    <title>Envio de Correo para recuperacion de Contraseña</title>
    <!--<title>@ViewBag | SB Admin 2 - Dashboard</title>-->
    <title>DColores Sublimacion</title>

    <link href="~/Content/SB-Admin/css/sb-admin-2.min.css" rel="stylesheet" />
    <link href="~/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" />
    <link href="~/vendor/bootstrap/scss/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/Estilos/Login.css" rel="stylesheet" />
</head>
<body>
    <div id="app">
        <section class="section">
            <div class="container mt-5">
                <div class="row">
                    <div class="col-md-6 offset-md-3">
                        <div class="card">
                            <div class="login-brand">
                                <img src="~/Content/Images/LogoDColor.jpg" alt="logo" width="200" />
                            </div>


                            <div class="card-body">

                                <form action="@Url.Content("~/Login/RestablecerPassword")" method="post">
                                    @Html.HiddenFor(m => m.token)

                                    <div class="form-group">
                                        <label for="email">Contraseña</label>
                                        @Html.PasswordFor(m => m.contraseña, new { @class = "form-control" })
                                        @Html.ValidationMessageFor(m => m.contraseña, "", new { @class = "text-danger" })


                                    </div>

                                    <div class="form-group">
                                        <label for="email">Confirmar Contraseña</label>
                                        @Html.PasswordFor(m => m.contraseña2, new { @class = "form-control" })

                                        @Html.ValidationMessageFor(m => m.contraseña2, "", new { @class = "text-danger" })


                                    </div>



                                    <div class="form-group">
                                        <button type="submit" class="btn btn-primary btn-lg btn-block" tabindex="4">
                                            Recuperar Contraseña
                                        </button>
                                        <label class="label label-danger">@ViewBag.MsjError</label>
                                        @Html.Label("", (string)ViewBag.MsgError, new { @class = "label label-danger" })

                                    </div>
                                </form>
                            </div>


                        </div>


                    </div>
                </div>
            </div>
        </section>
    </div>
