@model IEnumerable<DColor.DB.Insumo>

@{
    ViewBag.Title = "Inventario";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Ingresar nuevo tipo de insumo", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.marca)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.cantidad)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.precio)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Proveedor.nombre)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.marca)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.cantidad)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.precio)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Proveedor.nombre)
        </td>
        <td>
            @Html.ActionLink("Modificar", "Edit", new { id = item.idProducto }) |
            @Html.ActionLink("Detalles", "Details", new { id = item.idProducto }) |
            @Html.ActionLink("Eliminar tipo de insumo", "Delete", new { id = item.idProducto })
        </td>
    </tr>
}

</table>
